/node_modules
package-lock.json

/config/dev.js
/security/cert.key
/security/cert.pem
#/public

/.vscode
.env

!src/public/images
src/public/images/*
!src/public/images/avatar0.jpg
!src/public/images/avatar1.jpg
!src/public/images/avatar2.jpg

.idea
docker/mongo-data/
!docker/mongo-data/.gitkeep
